@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --primary: #F3BA2F;
  --secondary: #1A1D22;
  --third: #111418;
  --bgc: #0B0E11;
}

/* Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera*/
  }
}

/* Custom Scrollbar Design */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bgc);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 3px solid var(--bgc);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* Custom scrollbar for small containers */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(243, 186, 47, 0.3);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
